# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Production Build
dist/
dist-ssr/
build/
out/

# Environment variables & Local config
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Caches & Temp files
.vite/
.rollup.cache/
.cache/
.eslintcache
*.tsbuildinfo
.turbo/
.temp/
tmp/

# Database / Prisma local files
*.db
*.db-journal
*.sqlite
*.sqlite3

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
